{{if eq .AuthLevel "auth"}}
	<ul class="nav navbar-nav navbar-right">
	  <li><a style="color:white" href="{{.BaseURI}}about">About</a></li>
	  <li><a style="color:white" href="{{.BaseURI}}block">Block</a></li>
	  <li><a style="color:white" href="{{.BaseURI}}cart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Cart</a></li>

	  <li><a style="color:white" href="{{.BaseURI}}logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
	</ul>

{{else}}

	<ul class="nav navbar-nav navbar-right" style="color:white">
	  <li><a style="color:white" href="{{.BaseURI}}about">About</a></li>
	</ul>

{{end}}