type ElementType int
const (
    Legend = ElementType(iota)
    ButtonDouble
    Button
    FileButton
    SelectMultiple
    SelectBasic
    MultipleCheckboxesInLine
    MultipleCheckboxes
    MultipleRadiosInLine 
    MultipleRadios 
    TextArea
    PrependedCheckbox
    ButtonDropDown
    PasswordInput
    SearchInput
    TextInput
)

<form class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    {{if eq .Type Legend}}
        <legend> {{.Name}} </legend>
    {{end}}
    
    <!-- Button (Double) -->
    {{if eq .Type ButtonDouble}}
        <div class="form-group">
        <label class="col-md-4 control-label" >{{.Label}}</label>
        <div class="col-md-8">
        {{range $n := .Paceholders}}
            <button id="{{.Paceholder}}" class="btn btn-success">{{.Paceholder}}</button>
        {{end}}
        </div>
    {{end}}
    
    <!-- Button -->
    {{if eq .Type Button}}
        <label class="col-md-4 control-label" >{{.Label}}</label>
        <div class="col-md-4">
        {{range $n := .Paceholders}}
            <button id="{{.PaceholderID}}" class="btn btn-success">{{.PaceholderValue}}</button>
        {{end}}
        </div>
    {{end}}
    
    <!-- File Button --> 
    {{if eq .Type FileButton}}
        <label class="col-md-4 control-label" >{{.Label}}</label>
        <div class="col-md-4">
        <input id="{{.Name}}"  class="input-file" type="file">
        </div>
    {{end}}
    
    <!-- Select Multiple -->
    {{if eq .Type SelectMultiple}}
        <label class="col-md-4 control-label" >{{.Label}}</label>
        <div class="col-md-4">
        <select id="{{.Name}}" class="form-control" multiple="multiple">
        {{range $n := .Paceholders}}
            <option value="{{.PaceholderID}}">{{.PaceholderValue}}</option>
        {{end}}
        </select>
        </div>
    {{end}}
    
    <!-- Select Basic -->
    {{if eq .Type SelectBasic}}
        <label class="col-md-4 control-label" >{{.Label}}</label>
        <div class="col-md-4">
        <select id="{{Name}}"  class="form-control">
        {{range $n := .Paceholders}}
            <option value="{{.PaceholderID}}">{{.PaceholderValue}}</option>
        {{end}}
        </select>
        </div>
    {{end}}
    
    <!-- Multiple Checkboxes (inline) -->
    {{if eq .Type MultipleCheckboxesInLine}}
        <label class="col-md-4 control-label" >{{.Label}}</label>
        <div class="col-md-4">
        {{range $n := .Paceholders}}
                <label class="checkbox-inline">
                <input type="checkbox"  id="{{.PaceholderID}}" value="{{.PaceholderValue}}">
                {{.PaceholderValue}}
                </label>
        {{end}}
        </div>
    {{end}}
    
    <!-- Multiple Checkboxes -->
    {{if eq .Type MultipleCheckboxes}}
        <label class="col-md-4 control-label" >{{.Label}}</label>
        <div class="col-md-4">
            {{range $n := .Paceholders}}
                <div class="checkbox">
                <label for="checkboxes-0">
                    <input type="checkbox"  id="{{.PaceholderID}}" value="{{.PaceholderValue}}">
                    {{.PaceholderID}}
                </label>
                </div>
            {{end}}
        </div>
    {{end}}
    
    <!-- Multiple Radios (inline) -->
    {{if eq .Type MultipleRadiosInLine}}
        <label class="col-md-4 control-label" >{{.Label}}</label>
        <div class="col-md-4"> 
        {{range $n := .Paceholders}}
            <label class="radio-inline" for="radios-0">
                <input type="radio"  id="{{.PaceholderID}}" value="{{.PaceholderValue}}">
                {{.PaceholderID}}
            </label> 
        {{end}}
        </div>
    {{end}}
    
    <!-- Multiple Radios -->
    {{if eq .Type MultipleRadios}}
        <label class="col-md-4 control-label" >{{.Label}}</label>
        <div class="col-md-4">
        {{range $n := .Paceholders}}
            <div class="radio">
                <label for="radios-0">
                <input type="radio"  id="{{.PaceholderID}}" value="{{.PaceholderValue}}">
                {{.PaceholderValue}}
                </label>
            </div>
        {{end}}
    {{end}}
    
    <!-- Textarea -->
    {{if eq .Type TextArea}}
        <label class="col-md-4 control-label" >{{.Label}}</label>
        <div class="col-md-4">      
        {{range $n := .Paceholders}}               
            <textarea class="form-control" id="{{.Name}}">{{.PaceholderID}}</textarea>
        {{end}}
        </div>
    {{end}}

    <!-- Prepended checkbox -->
    {{if eq .Type PrependedCheckbox}}
        <label class="col-md-4 control-label" >{{.Label}}</label>
        <div class="col-md-4">
        {{range $n := .Paceholders}}   
            <div class="input-group">
            <span class="input-group-addon">     
                <input type="checkbox">     
            </span>
                <input id="{{.Name}}"  class="form-control" type="text">
            </div>
            <p class="help-block">{{.PaceholderID}}</p>
            {{end}}
            </div>
    {{end}}
    
    <!-- Button Drop Down -->
    {{if eq .Type ButtonDropDown}}
        <label class="col-md-4 control-label" >{{.Label}}</label>
        <div class="col-md-4">
        <div class="input-group">
            <input id="{{.Name}}"  class="form-control" placeholder="placeholder" type="text">
            <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Action
                <span class="caret"></span>
            </button>
            {{range $n := .Paceholders}}   
            <ul class="dropdown-menu pull-right">
                <li><a href="#">{{.PaceholderID}}</a></li>
                <li><a href="#">{{.PaceholderID}}</a></li>
                <li><a href="#">{{.PaceholderID}}</a></li>
            </ul>
            {{end}}
            </div>
        </div>
        </div>
    {{end}}
    
   
    <!-- Password input-->
    {{if eq .Type PasswordInput}}
        <label class="col-md-4 control-label" >{{.Label}}</label>
        <div class="col-md-4">
        {{range $n := .Paceholders}}   
            <input id="{{.Name}}"  type="password" placeholder="placeholder" class="form-control input-md">
            <span class="help-block">{{.PaceholderID}}</span>
        {{end}}
        </div>
    {{end}}
    
    <!-- Search input-->
    {{if eq .Type SearchInput}}
        <label class="col-md-4 control-label" >{{.Label}}</label>
        <div class="col-md-4">
        {{range $n := .Paceholders}}   
            <input id="{{.Name}}"  type="search" placeholder="placeholder" class="form-control input-md">
            <p class="help-block">{{.PaceholderID}}</p>
        {{end}}
        </div>
    {{end}}
    
    <!-- Text input-->
    {{if eq .Type TextInput}}
        <label class="col-md-4 control-label" >{{.Label}}</label>  
        <div class="col-md-4">
        {{range $n := .Paceholders}}   
            <input id="{{.Name}}" type="text" placeholder="{{.PaceholderID}}" class="form-control input-md" required="">
            <span class="help-block">{{.PaceholderValue}}</span>  
        {{end}}
        </div>
    {{end}}

    </fieldset>
    </form>
    