{{define "form"}}
<div>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navsubbar" aria-expanded="false" aria-controls="navsubbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{.BaseURI}}">Records</a>
			</div>
			<div id="navsubbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					{{range $n := .forms}}
						{{if .StatusID}}
							<li class = "active">
						{{else}}
							<li>
						{{end}}
						{{if eq $.AuthLevel "auth"}}
							<a href="{{$.BaseURI}}block/view/{{.ID}}">{{.Name}}</a>
						{{else}}
							<a href="">{{.Name}}</a>
						{{end}}
							</li>
					{{end}}
				</ul>
			</div>
		</div>
	</nav>
	{{if eq $.AuthLevel "auth"}}
		{{ $Global := . }}
		{{ $Forms := .forms }}
		{{range $form := $Forms}}
			{{ $Fields := .Fields }}
			{{ $FieldTypes := .FieldTypes }}
			{{if .StatusID}}
				<form method="post">
					{{range $field := $Fields}}
						{{if eq $form.ID $field.FormID}}  
							{{if eq $field.FieldTypeID 1}}
								<div class="form-group">
									<label for="{{$field.Name}}">{{$field.Description}}</label>
									<div><input {{TEXT $field.Name "" $Global}} type="text" class="form-control" 
									id="{{$field.Name}}" maxlength="{{$field.MaxLength}}" placeholder="{{$field.Placeholder}}" /></div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 2}}
								<div class="form-group">
									<label for="{{$field.Name}}">{{$field.Description}}</label>
									<div><textarea rows="{{$field.MaxLength}}" class="form-control" id="{{$field.Name}}" 
									name="{{$field.Name}}" placeholder="{{$field.Placeholder}}..." />
									{{TEXTAREA $field.Name "" $Global}}</textarea></div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 3}}
								<div class="form-group">
								<label><input {{CHECKBOX $field.Name $field.Description $field.Name $Global}}> {{$field.Description}}</label>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 4}}
								<div class="form-group">
									<label><input {{RADIO $field.Name $field.Description $field.Name $Global}}> {{$field.Description}}</label>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 5}}
									{{if eq $field.Name  $field.Description}}
										<div class="form-group">
										<select name="{{$field.Name}}">
									{{else}}
										{{if eq $field.Description  ""}}
											</select>
											</div>
										{{else}}
											<option {{OPTION $field.Name $field.Description $field.Name $Global}}>{{$field.Description}}</option>
										{{end}}
									{{end}}
							{{end}}
							{{if eq $field.FieldTypeID 6}}
									{{if eq $field.Name  $field.Description}}
										<div class="form-group">
										<select multiple name="{{$field.Name}}">
									{{else}}
										{{if eq $field.Description  ""}}
											</select>
											</div>
										{{else}}
											<option {{OPTION $field.Name $field.Description $field.Name $Global}}>{{$field.Description}}</option>
										{{end}}
									{{end}}
							{{end}}
							{{if eq $field.FieldTypeID 7}}
								<div class="form-group">
									<input type="submit" value={{$field.Description}} class="btn btn-primary" />
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 8}}
								<div class="form-group">
									<label for="{{$field.Name}}">{{$field.Description}}</label>	
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 9}}
								<div class="form-group">
									<label for="{{$field.Name}}">{{$field.Description}}</label>
									<div><input {{TEXT $field.Name "" $Global}} type="color" class="form-control" 
									id="{{$field.Name}}" placeholder="{{$field.Placeholder}}" /></div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 10}}
								<div class="form-group">
									<label for="{{$field.Name}}">{{$field.Description}}</label>
									<div><input {{TEXT $field.Name "" $Global}} type="date" class="form-control" 
									id="{{$field.Name}}" placeholder="{{$field.Placeholder}}" /></div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 11}}
								<div class="form-group">
									<label for="{{$field.Name}}">{{$field.Description}}</label>
									<div><input {{TEXT $field.Name "" $Global}} type="datetime-local" class="form-control" 
									id="{{$field.Name}}" placeholder="{{$field.Placeholder}}" /></div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 12}}
								<div class="form-group">
									<label for="{{$field.Name}}">{{$field.Description}}</label>
									<div><input {{TEXT $field.Name "" $Global}} type="email" class="form-control" 
									id="{{$field.Name}}" placeholder="{{$field.Placeholder}}" /></div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 13}}
								<div class="form-group">
									<label for="{{$field.Name}}">{{$field.Description}}</label>
									<div><input {{TEXT $field.Name "" $Global}} type="file" class="form-control" 
									id="{{$field.Name}}" placeholder="{{$field.Placeholder}}" /></div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 14}}
								<div class="form-group">
									<label for="{{$field.Name}}">{{$field.Description}}</label>
									<div><input {{TEXT $field.Name "" $Global}} type="month" class="form-control" 
									id="{{$field.Name}}" placeholder="{{$field.Placeholder}}" /></div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 15}}
								<div class="form-group">
									<label for="{{$field.Name}}">{{$field.Description}}</label>
									<div><input {{TEXT $field.Name "" $Global}} type="number" class="form-control" 
									id="{{$field.Name}}" min="0" max="10" placeholder="{{$field.Placeholder}}" /></div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 16}}
								<div class="form-group">
									<label for="{{$field.Name}}">{{$field.Description}}</label>
									<div><input {{TEXT $field.Name "" $Global}} type="range" class="form-control" 
									id="{{$field.Name}}" min="0" max="10" step="5" placeholder="{{$field.Placeholder}}" /></div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 17}}
								<div class="form-group">
									<label for="{{$field.Name}}">{{$field.Description}}</label>
									<div><input {{TEXT $field.Name "" $Global}} type="search" class="form-control" 
									id="{{$field.Name}}" maxlength="{{$field.MaxLength}}" placeholder="{{$field.Placeholder}}" /></div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 18}}
								<div class="form-group">
									<label for="{{$field.Name}}">{{$field.Description}}</label>
									<div><input {{TEXT $field.Name "" $Global}} type="tel" class="form-control" 
									id="{{$field.Name}}" placeholder="{{$field.Placeholder}}" /></div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 19}}
								<div class="form-group">
									<label for="{{$field.Name}}">{{$field.Description}}</label>
									<div><input {{TEXT $field.Name "" $Global}} type="url" class="form-control" 
									id="{{$field.Name}}" placeholder="{{$field.Placeholder}}" /></div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 20}}
								<div class="form-group">
									<label for="{{$field.Name}}">{{$field.Description}}</label>
									<div><input {{TEXT $field.Name "" $Global}} type="week" class="form-control" 
									id="{{$field.Name}}" placeholder="{{$field.Placeholder}}" /></div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 21}}
								<div class="form-group">
									<div class="form-group">
										<input type="reset" value={{$field.Description}} class="btn btn-default" />
									</div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 22}}
								<div class="form-group">
									<div><input {{TEXT $field.Name "" $Global}} type="hidden" class="form-control" 
									id="{{$field.Name}}" value="{{$field.Placeholder}}" /></div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 23}}
								<div class="form-group">
									<div><input {{TEXT $field.Name "" $Global}} type="button" class="form-control" 
									value="{{$field.Name}}" onclick="{{$field.Description}}{}" /></div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 24}}
								<div class="form-group">
									<label for="{{$field.Name}}">{{$field.Description}}</label>
									<div><input {{TEXT $field.Name "" $Global}} type="image" class="form-control" 
									src="{{$field.Name}}" alt="{{$field.Placeholder}}" /></div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 25}}
								<div class="form-group">
									<label for="{{$field.Name}}">{{$field.Description}}</label>
									<div><input {{TEXT $field.Name "" $Global}} type="time" class="form-control" 
									id="{{$field.Name}}" placeholder="{{$field.Placeholder}}" /></div>
								</div>
							{{end}}
						{{end}}
					{{end}}
					<input type="hidden" name="_token" value="{{$.token}}">
					<input type="hidden" name="_method" value="POST">
			{{end}}
		</form>
		{{end}}
	{{end}}
</div>
{{end}}