{{define "form"}}
<div>
	<nav class="navsubbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navsubbar" aria-expanded="false" aria-controls="navsubbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{.BaseURI}}">Records</a>
			</div>
			<div id="navsubbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					{{range $n := .forms}}
						{{if .StatusID}}
							<li class = "active">
						{{else}}
							<li>
						{{end}}
						{{if eq $.AuthLevel "auth"}}
							<a href="{{$.BaseURI}}form/view/{{.ID}}">{{.Name}}</a>
						{{else}}
							<a href="">{{.Name}}</a>
						{{end}}
							</li>
					{{end}}
				</ul>
			</div>
		</div>
	</nav>
	{{if eq $.AuthLevel "auth"}}
		{{ $Global := . }}
		{{ $Forms := .forms }}
		{{range $form := $Forms}}
			{{ $Fields := .Fields }}
			{{ $FieldTypes := .FieldTypes }}
			{{if .StatusID}}
				<form method="post">
					{{range $field := $Fields}}
						{{if eq $form.ID $field.FormID}}  
							{{if eq $field.FieldTypeID 1}}
								<div class="form-group">
									<label for="{{$field.Name}}">{{$field.Description}}</label>
									<div><input {{TEXT $field.Name "" $Global}} type="text" class="form-control" 
									id="{{$field.Name}}" maxlength="48" placeholder="{{$field.Description}}" /></div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 2}}
								<div class="form-group">
									<label for="{{$field.Name}}">{{$field.Description}}</label>
									<div><textarea rows="5" class="form-control" id="{{$field.Name}}" 
									name="{{$field.Name}}" placeholder="{{$field.Description}}..." />
									{{TEXTAREA $field.Name "" $Global}}</textarea></div>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 3}}
								<div class="form-group">
								<label><input {{CHECKBOX $field.Name $field.Description $field.Name $Global}}> {{$field.Description}}</label>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 4}}
								<div class="form-group">
									<label><input {{RADIO $field.Name $field.Description $field.Name $Global}}> {{$field.Description}}</label>
								</div>
							{{end}}
							{{if eq $field.FieldTypeID 5}}
									{{if eq $field.Name  $field.Description}}
										<div class="form-group">
										<label for="{{$field.Name}}">{{$field.Description}}</label>
										<div>
										<select name="{{$field.Name}}">
									{{else}}
										{{if eq $field.Description  ""}}
											</select>
											</div>
											</div>
										{{else}}
											<option {{OPTION $field.Name $field.Description $field.Name $Global}}>{{$field.Description}}</option>
										{{end}}
									{{end}}
							{{end}}
							{{if eq $field.FieldTypeID 6}}
									{{if eq $field.Name  $field.Description}}
										<div class="form-group">
										<label for="{{$field.Name}}">{{$field.Description}}</label>
										<div>
										<select multiple name="{{$field.Name}}">
									{{else}}
										{{if eq $field.Description  ""}}
											</select>
											</div>
											</div>
										{{else}}
											<option {{OPTION $field.Name $field.Description $field.Name $Global}}>{{$field.Description}}</option>
										{{end}}
									{{end}}
							{{end}}
							{{if eq $field.FieldTypeID 7}}
								<div class="form-group">
									<input type="submit" value={{$field.Description}} class="btn btn-primary" />
								</div>
							{{end}}
						{{end}}
					{{end}}
					<input type="hidden" name="_token" value="{{$.token}}">
					<input type="hidden" name="_method" value="POST">
				</form>
			{{end}}
		{{end}}
	{{end}}
</div>
{{end}}