
{{define "dashboard"}}
	<div class="row">
			<ul class="nav nav-tabs">
				{{range $n := .dashboards}}
					{{if .StatusID}}
						<li class = "active">
					{{else}}
						<li>
					{{end}}
					<a href="{{$.BaseURI}}dashboard/view/{{.ID}}">{{.Name}}</a>
					</li>
				{{end}}
			</ul>
			<div class="col-md-12 col-sm-12 col-lg-12">
				{{range $n := .dashboards}}
					{{if .StatusID}}
						{{if eq .ID 1}}
							{{template "financial"}}
						{{end}}
						{{if eq .ID 2}}
							{{template "marriage"}}
						{{end}}
						{{if eq .ID 3}}
							{{template "property"}}
						{{end}}
						{{if eq .ID 4}}
							{{template "medical"}}
						{{end}}
					{{end}}
				{{end}}
				</div>
		</div>
{{end}}
