
{{define "marriage"}}
<form method="post" action="{{$.CurrentURI}}?_method=patch">
	<fieldset>
<!-- Form Name -->
<legend>Marriage Form</legend>	
	<!-- Text input-->
	<div class="form-group">
		<label class="col-md-12 control-label" for="Husband_Name">Husband Name</label>  
		<div class="col-md-5">
		<input id="Husband_Name" name="Husband_Name" type="text" placeholder="Husband Name" class="form-control input-md" required="">
		<span class="help-block">Name Of Husband</span>  
		</div>
	</div>

	<!-- Text input-->
	<div class="form-group">
		<label class="col-md-12 control-label" for="Wife_Name">Wife Name</label>  
		<div class="col-md-5">
		<input id="Wife_Name" name="Wife_Name" type="text" placeholder="Wife Name" class="form-control input-md" required="">
		<span class="help-block">Name of Wife</span>  
		</div>
	</div>

	<!-- Text input-->
	<div class="form-group">
		<label class="col-md-12 control-label" for="Witness">Witness </label>  
		<div class="col-md-5">
		<input id="Witness" name="Witness" type="text" placeholder="Witness" class="form-control input-md" required="">
		<span class="help-block">Name Of Witness</span>  
		</div>
	</div>

	<!-- Text input-->
	<div class="form-group">
		<label class="col-md-12 control-label" for="place_of_marriage">Place Of Marriage</label>  
		<div class="col-md-5">
		<input id="place_of_marriage" name="place_of_marriage" type="text" placeholder="Place Of Marriage" class="form-control input-md" required="">
		<span class="help-block">Enter Place Where you were married</span>  
		</div>
	</div>

	<!-- File Button --> 
	<div class="form-group">
		<label class="col-md-12 control-label" for="Marriage_Certificate">Submit Photo Of Certificate</label>
		<div class="col-md-5">
			<input id="Marriage_Certificate" name="Marriage_Certificate" class="input-file" type="file">
		</div>
	</div>

		<!-- Date input-->
			<div class="col-md-12">
				<div class="row">
					<div class="form-group">
						<label class="col-md-12 control-label" for="year">Year</label>  
						<div class="col-md-3">
							<input id="year" name="year" type="text" placeholder="YYYY/MM/DD" class="form-control input-md">  
						</div>
					</div>
				</div>	
			

				<div class="form-group">
					<label for="name">Block</label>
					<div><textarea rows="3" class="form-control" id="name" name="name" placeholder="Type your text here..." />{{TEXTAREA "name" .item.Name .}}</textarea></div>
				</div>	
					<!-- Text input-->
					<button type="submit" class="btn btn-success" title="Save" />
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
					</button>
								
					<a title="Back" class="btn btn-default" role="button" href="{{$.ParentURI}}">
						<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back
					</a>
					<input type="hidden" name="_token" value="{{$.token}}">
			</div>		
</fieldset>
</form>

{{end}}
								