{{define "title"}}Block{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	{{if eq .AuthLevel "auth"}}

		<div class="page-header">
			<h1>Hello, {{.first_name}}</h1>
			<p>Manage your records, click on the form to access and edit it 
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-12 sm-12">
				<!-- Click {{LINK "block" "here"}} to view your blocks. -->
			</div>
		</div>
	{{else}}

		<div class="page-header">
			<h1>{{template "title" .}}</h1>
		</div>
		<p>Click {{LINK "login" "here"}} to login.</p>

	{{end}}

	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}
