{{define "title"}}Note{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	{{if eq .AuthLevel "auth"}}
	
		<div class="page-header">
			<!-- <h1>Hello, {{.first_name}}</h1> -->
		</div>

		<!-- <p>You have arrived. Click {{LINK "note" "here"}} to view your note.</p> -->
		<ul class="nav nav-tabs">
			{{range $n := .Dashboard.Tabs}}
				{{if .Active}}
					<li class = "active">
				{{else}}
					<li>
				{{end}}
				<a href="{{.ID}}">{{.Name}}</a></li>
			{{end}}
		</ul>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-lg-12">
				{{range $n := .Dashboard.Tabs}}
					{{if .Active}}
						<p>{{.Description}} </p>
					{{end}}			
				{{end}}	
			</div>
		</div>
	{{else}}
		<div class="page-header">
			<h1>{{template "title" .}}</h1>
		</div>
		<p>Click {{LINK "login" "here"}} to login.</p>
	{{end}}
	
	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}