{{define "title"}}New Block{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<div class="row">
		<ul class="nav nav-tabs">
			{{range $n := .Dashboard.Tabs}}
				{{if .Active}}
					<li class = "active">
				{{else}}
					<li>
				{{end}}
				<a href="{{.ID}}">{{.Name}}</a></li>
			{{end}}
		</ul>
		<div class="col-md-12 col-sm-12 col-lg-12">
			{{range $n := .Dashboard.Tabs}}
				{{if .Active}}
					{{if eq .ID 0}}
						{{template "financial"}}
					{{end}}
					{{if eq .ID 1}}
						{{template "marriage"}}
					{{end}}
					{{if eq .ID 2}}
						{{template "property"}}
					{{end}}
					{{if eq .ID 3}}
						{{template "medical"}}
					{{end}}
				{{end}}
			{{end}}
			</div>
	</div>
	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}