{{define "title"}}About Block{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<p>your blocks!</p>
	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}