{{define "title"}}About 3Points{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<p>your points!</p>
	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}