{{define "title"}}About Block{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<p>Blockchains are secure by design and implementation, and it uses distributed computing and microservice architecture 
	with fault tolerance. Decentralized consensus has therefore been achieved using it. 

	This makes blockchains potentially suitable for the recording of events : 
	  <ul class ="list">
	  <li> medical records </li>
	  <li> identity management </li>
	  <li> transaction processing </li>
	  <li>  documenting provenance </li>
	  <li> food traceability </li>
	  <li> voting </li>
	  <li> and others </li>
	  </ul>

	Satoshi Nakamoto conceptualized it and we have implemented it using Google technology. 

	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}