{{define "title"}}Items{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<div class="page-header" style="padding-bottom:4%">
		<h1 style="color:#3b5998">Comments</h1>
      <a title="Add" class="btn btn-primary pull-left" role="button" href="{{$.CurrentURI}}/create">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add
      </a>
      <!-- Search Bar -->  
      <div class="col-sm-4 col-xs-10 col-md-3">
         <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-sm" placeholder="Search for profession or business" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-md" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
      </div>
  </div>
	
  
	{{range $n := .items}}
	<div class="panel panel-default">
      
      <div class="panel-heading row">
        <span class="col-xs-6 inline">
        <ul class="list-inline">
            <li class="list-inline-item" style="color:#DAA520"><i class="fa fa-star fa-lg"></i></li>
            <li class="list-inline-item" style="color:#DAA520;"><i class="fa fa-star fa-lg"></i></li>
            <li class="list-inline-item" style="color:#DAA520;"><i class="fa fa-star fa-lg"></i></li>
            <li class="list-inline-item" style="color:#DAA520;"><i class="fa fa-star fa-lg"></i></li>
            <li class="list-inline-item" style="color:white;text-shadow: 0px 0px 3px #000;"><i class="fa fa-star fa-lg"></i></li>
        </ul>    
        </span>
        <span class="pull-right" style="backgound-color:darkblue">
            <ul class="list-inline">
                <li class="list-inline-item" style="color:#3b5998"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 82</li>
                <li class="list-inline-item" style="color:#3b5998"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 9</li>
            </ul>    
        </span>
      </div>

			<div class="panel-body">
				<p>{{.Name}}</p>
				<div style="display:inline-block;">

                    <!-- View Button for both user and owner -->
					<a title="View" class="btn btn-info" role="button" href="{{$.CurrentURI}}/view/{{.ID}}">
						<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View
					</a>
                    <!-- View Button -->


                    <!-- Edit Button for owner only-->
					<a title="Edit" class="btn btn-warning" role="button" href="{{$.CurrentURI}}/edit/{{.ID}}">
						<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Edit
					</a>
					
					<!-- Edit Button for owner only-->
                    <form class="button-form" method="post" action="{{$.CurrentURI}}/{{.ID}}?_method=delete">
						<button onclick="return confirm('Are you sure?')" type="submit" class="btn btn-danger" />
							<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Delete
						</button>
						<input type="hidden" name="_token" value="{{$.token}}">
					</form>
                </div>
				<span class="pull-right" style="margin-top: 14px;">{{PRETTYTIME .CreatedAt .UpdatedAt}}</span>
			</div>
		</div>
	{{end}}
	
	{{PAGINATION .pagination .}}
	
	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}