{{define "show"}}
<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12 ">
				<h4>Comments</h4>
				<a title="Add" class="btn btn-primary pull-left btn-sm" role="button" href="{{$.BaseURI}}comment/create/{{.item.ID}}">
		          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add your Comment
		      	</a>
		    </div>
		    <div class="container">
	    	{{range $n := .comments}}
	    	  <div class="row"> 
                    <div class="col-xs-12 col-sm-3 col-md-3">
	    		<div class="pull-left meta">
		           	<div class="title h5">
						<a href="#"><b>Kshitiz Sharma</b></a>
		                    {{.Name}}     
		              </div>
		                        <h6 class="text-muted time">{{PRETTYTIME .CreatedAt .UpdatedAt}}</h6>
		                   		
		                   		<a title="Edit" href="{{$.BaseURI}}comment/edit/{{.ID}}">
									Edit
								</a>

								<form class="button-form" method="post" action="{{$.BaseURI}}comment/{{.ID}}?_method=delete">
									<a onclick="return confirm('Are you sure?')" type="submit" />
										Delete
									</a>
									<input type="hidden" name="_token" value="{{$.token}}">
								</form>
								</span>
							</div>
						 
				    </div>
				    </div>
				    <hr>
		    {{end}}
	</div>
	</div>
{{end}}